<!DOCTYPE html>
<HTML>
	<HEAD>
		<title>Курсы английского языка</title>
		<meta charset="utf-8">
	</HEAD>
	<BODY bgcolor="#141019">
		<h1 style="text-align: center"><span style="font-family: Sans Serif; color:#E5E4E2;">Добро пожаловать на курсы английского языка!</span></h1>
		<p style="text-align: center; background-color:#30243d; color:#E5E4E2"><em>
			В нашей школе мы изучаем все аспекты английского языка, берем студентов любого уровня подготовки и любых возрастных групп.<br>
			Все наши преподаватели имеют опыт нахождения в языковой среде, а некоторые и вовсе являются носителями.<br>
			Гарантируем, что процесс обучения с нами будет максимально комфортным и интересным!</em>
		</p>
		<form style="text-align: center;" action="/login">
			<input type="submit" style="height: 35px; width: 150px; background-color:#9984ae; border:none; color:#E5E4E2" value="Войти">
		</form>
		<br>
		<form style="text-align: center;" action="/registration">
			<input type="submit" style="height: 35px; width: 150px; background-color:#9984ae; border:none; color:#E5E4E2" value="Регистрация">
		</form>
	</BODY>
</HTML>