<!DOCTYPE html>
<HTML>
	<HEAD>
		<title>Курсы английского языка</title>
		<meta charset="utf-8">
	</HEAD>
	<form action="/login" method="get">
		<input type="submit" style="height: 30px; width: 100px; border:none; background-color:#9984ae; color:#E5E4E2"  value="Вход">
	</form>

	<BODY bgcolor="#141019">
	<div style="text-align: center; font-family: Sans Serif; color:#E5E4E2;">
			<h1>Курсы английского языка</h1>
		<h2>Регистрация</h2>
		<form action="/register" method="post" content="application/json">
        <input type="text" style="height: 30px; width: 150px; border:none; background-color:#141019; color:#E5E4E2" name="name" placeholder="Пользователь"/><br>
        <input type="text" style="height: 30px; width: 150px; background-color:#141019; border:none; color:#E5E4E2" name="password_" placeholder="Пароль"/><br>
        <input type="text" style="height: 30px; width: 150px; background-color:#141019; border:none; color:#E5E4E2" name="phone" placeholder="+7**********"/><br>
            <input type="text" style="height: 30px; width: 150px; background-color:#141019; border:none; color:#E5E4E2" name="address" placeholder="Адрес"/><br>
            <input type="submit" style="height: 35px; width: 150px; background-color:#9984ae; border:none; color:#E5E4E2" value="Создать">
    	</form>
    </div>

	</BODY>
</HTML>