<!DOCTYPE html>
<HTML>
	<HEAD>
		<title>Курсы английского языка</title>
		<meta charset="utf-8">
	</HEAD>
	<form action="/exit" method="get">
		<input type="submit" style="height: 35px; width: 150px; background-color:#9984ae; border:none; color:#E5E4E2" value="Выход">
	</form>

	<BODY bgcolor="#141019">
	<div style="text-align: center; font-family: Sans Serif; color:#E5E4E2;">
			<h1>Курсы английского языка</h1>
		<form action="/timetable-admin" method="get">
			<input type="submit" style="height: 35px; width: 170px; background-color:#9984ae; border:none; color:#E5E4E2" value="Добавление занятия">
		</form>
		<form action="/teacher-admin" method="get">
			<input type="submit" style="height: 35px; width: 170px; background-color:#9984ae; border:none; color:#E5E4E2" value="Добавление преподавателя">
		</form>
		<form action="/module-admin" method="get">
			<input type="submit" style="height: 35px; width: 170px; background-color:#9984ae; border:none; color:#E5E4E2" value="Добавление модуля">
		</form>
    </div>

	</BODY>
</HTML>