<!DOCTYPE html>
<HTML>
	<HEAD>
		<title>Курсы английского языка</title>
		<meta charset="utf-8">
	</HEAD>
	<form action="/exit" method="get">
		<input type="submit" style="height: 35px; width: 150px; background-color:#9984ae; border:none; color:#E5E4E2" value="Выход">
	</form>

	<BODY bgcolor="#141019">
	<div style="text-align: center;font-family: Sans Serif; color:#E5E4E2;">
			<h1>Курсы английского языка</h1>
		<form action="/timetable" method="get">
			<input type="submit" style="height: 30px; width: 150px; border:none; background-color:#141019; color:#E5E4E2" value="Расписание">
		</form>
		<form action="/teacher"  method="get">
			<input type="submit" style="height: 30px; width: 150px; border:none; background-color:#141019; color:#E5E4E2" value="Преподаватели">
		</form>
		<form action="/module" method="get">
			<input type="submit" style="height: 30px; width: 150px; border:none; background-color:#141019; color:#E5E4E2" value="Модули">
		</form>
		<form action="/my-modules" method="get">
			<input type="submit" style="height: 30px; width: 150px; border:none; background-color:#141019; color:#E5E4E2" value="Мои модули">
		</form>
		<form action="/my-lessons" method="get">
			<input type="submit" style="height: 30px; width: 150px; border:none; background-color:#141019; color:#E5E4E2" value="Мои занятия">
		</form>
    </div>

	</BODY>
</HTML>