<!DOCTYPE html>
<HTML>
	<HEAD>
		<title>Курсы английского языка</title>
		<meta charset="utf-8">
	</HEAD>
	<form action="/service-admin" method="get">
		<input type="submit" style="height: 35px; width: 150px; background-color:#9984ae; border:none; color:#E5E4E2" value="Назад">
	</form>

	<BODY bgcolor="#141019">
	<div style="text-align: center; font-family: Sans Serif; color:#E5E4E2;">
			<h1>Курсы английского языка</h1>
		<h2>Добавление занятия</h2>
		<form action="/timetable-admin-add" method="post" content="application/json">
        <input type="text" style="height: 30px; width: 150px; border:none; background-color:#141019; color:#E5E4E2" name='time_' placeholder="Время ЧЧ:ММ:СС"/><br>
        <input type="text" style="height: 30px; width: 150px; border:none; background-color:#141019; color:#E5E4E2" name='date_' placeholder="Дата ГГГГ-ММ-ДД"/><br>
            <select name="id_teacher">
          {% for teacher in teachers %}
            <option value={{teacher.id}}>{{teacher.name}} {{teacher.surname}}</option>
          {% endfor %}
        </select>
            <select name="id_cabinet">
          {% for cabinet in cabinets %}
            <option value={{cabinet.id}}>Кабинет: {{cabinet.number}} Корпус: {{cabinet.building}}</option>
          {% endfor %}
        </select>
            <select name="type">
            <option value='групповое'>Групповое</option>
            <option value='индивидуальное'>Индивидуальное</option>
        </select>
            <input type="submit" style="background-color:#9984ae; border:none; color:#E5E4E2"  value="Создать">
    	</form>
    </div>

	</BODY>
</HTML>